:root {
	--prussian-blue: #273043ff;
	--dodger-blue: #1e96fcff;
	--lavender-blush: #eee5e9ff;

	--primary-color: var(--prussian-blue);
	--secondary-color: var(--lavender-blush);
	--accent-color: var(--dodger-blue);
}
